openapi: 3.0.0
info:
  version: v1
  title: Legacy API (v1) Account IntegrationBulkContactLookup API
  description: ''
servers:
- url: https://app.practicepanther.com
tags:
- name: IntegrationBulkContactLookup
paths:
  /api/integrations/v1/contacts/test:
    get:
      tags:
      - IntegrationBulkContactLookup
      operationId: IntegrationBulkContactLookup_Test
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
      security:
      - oauth2:
        - full
  /api/integrations/v1/contacts/bulk-lookup:
    post:
      tags:
      - IntegrationBulkContactLookup
      operationId: IntegrationBulkContactLookup_BulkLookup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkContactLookupRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/BulkContactLookupRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BulkContactLookupRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
      security:
      - oauth2:
        - full
components:
  schemas:
    BulkContactLookupRequest:
      type: object
      properties:
        emails:
          type: array
          items:
            type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 - Authorization Code Grant
      flows:
        authorizationCode:
          authorizationUrl: /OAuth/Authorize
          tokenUrl: /OAuth/Token
          scopes:
            full: Read/Write access to all resources
