openapi: 3.0.0
info:
  version: v1
  title: Legacy API (v1) Account V1BankAccount API
  description: ''
servers:
- url: https://app.practicepanther.com
tags:
- name: V1BankAccount
paths:
  /api/internal/v1/tenants/{tenantId}/bankAccounts/{bankAccountGuid}:
    get:
      tags:
      - V1BankAccount
      operationId: V1BankAccount_Get
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: bankAccountGuid
        in: path
        required: true
        schema:
          type: string
      - name: bankAccountDetailResource.bankAccountId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: bankAccountDetailResource.bankAccountGuid
        in: query
        required: false
        schema:
          type: string
          format: uuid
      - name: bankAccountDetailResource.coreIdentity.tenantId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: bankAccountDetailResource.coreIdentity.userId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: bankAccountDetailResource.coreIdentity.localizationPreferences.cultureName
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountDetailResource.coreIdentity.localizationPreferences.dateFormat
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountDetailResource.coreIdentity.localizationPreferences.dateTimeFormat
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountDetailResource.coreIdentity.localizationPreferences.timeFormat
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountDetailResource.coreIdentity.localizationPreferences.currencyCode
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountDetailResource.coreIdentity.localizationPreferences.timezoneId
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountDetailResource.coreIdentity.integrations.trustAccounting
        in: query
        required: false
        schema:
          type: boolean
      - name: bankAccountDetailResource.coreIdentity.integrations.operatingAccounting
        in: query
        required: false
        schema:
          type: boolean
      - name: bankAccountDetailResource.coreIdentity.integrations.pantherPayments
        in: query
        required: false
        schema:
          type: boolean
      - name: bankAccountDetailResource.coreIdentity.securityDetail.userId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: bankAccountDetailResource.coreIdentity.securityDetail.isUserAuthenticated
        in: query
        required: false
        schema:
          type: boolean
      - name: bankAccountDetailResource.coreIdentity.securityDetail.hasFullAccess
        in: query
        required: false
        schema:
          type: boolean
      - name: bankAccountDetailResource.coreIdentity.securityDetail.accessLevels
        in: query
        required: false
        explode: true
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
      security:
      - oauth2:
        - full
  /api/internal/v1/tenants/{tenantId}/bankAccounts/{bankAccountGuid}/payments/stats:
    get:
      tags:
      - V1BankAccount
      operationId: V1BankAccount_GetPaymentsStats
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: bankAccountGuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: paymentsGridResource.searchTerm
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.paymentTypes
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - ContactPayment
            - FirmPayment
            - Refund
            - Expense
            - JournalEntry
      - name: paymentsGridResource.bankAccountGuids
        in: query
        description: 'Used to set the reference in POST and PUT '
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: paymentsGridResource.bankAccountTypes
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Operating
            - Trust
            - CreditCard
      - name: paymentsGridResource.paymentStatuses
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Pending
            - Failed
            - Success
            - Refunded
            - RefundPending
            - Canceled
      - name: paymentsGridResource.paymentMethods
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Cash
            - Check
            - CreditCard
            - PayPal
            - AuthorizeNet
            - Other
            - Stripe
            - Wire
            - Transfer
            - LawPay
            - PantherPaymentsCC
            - PantherPaymentsECheck
            - JournalEntry
      - name: paymentsGridResource.payeeGuid
        in: query
        description: 'Used to set the reference in POST and PUT '
        required: false
        schema:
          type: string
          format: uuid
      - name: paymentsGridResource.payorGuid
        in: query
        description: 'Used to set the reference in POST and PUT '
        required: false
        schema:
          type: string
          format: uuid
      - name: paymentsGridResource.dateFrom
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.dateTo
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.reconciledDateFrom
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.reconciledDateTo
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.amountFilter1.amount
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: paymentsGridResource.amountFilter1.operator
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.amountFilter2.amount
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: paymentsGridResource.amountFilter2.operator
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.paymentReconciledStatus
        in: query
        required: false
        schema:
          type: string
          enum:
          - NotReconciled
          - Reconciled
      - name: paymentsGridResource.accountTags
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: paymentsGridResource.projectTags
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: paymentsGridResource.tagsFilter
        in: query
        required: false
        schema:
          type: string
          enum:
          - All
          - Any
          - None
      - name: paymentsGridResource.contactAssignedToUserIds
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: paymentsGridResource.matterAssignedToUserIds
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: paymentsGridResource.contactAssignedToUserGroupGuids
        in: query
        description: 'Used to set the reference in POST and PUT '
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: paymentsGridResource.matterAssignedToUserGroupGuids
        in: query
        description: 'Used to set the reference in POST and PUT '
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: paymentsGridResource.pageVariant
        in: query
        required: false
        schema:
          type: string
          enum:
          - PaymentHistory
          - BankLedger
          - PrintChecks
          - CreditCardLedger
      - name: paymentsGridResource.isPrinted
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.isUsingQBNewIntegration
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.isPostedToAccountingPlus
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.hasSurchargesEnabled
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.columnDefinitions
        in: query
        required: false
        explode: true
        schema:
          type: array
          items: {}
      - name: paymentsGridResource.page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: paymentsGridResource.pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: paymentsGridResource.sortBy
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.columns
        in: query
        required: false
        explode: true
        schema:
          type: array
          items: {}
      - name: paymentsGridResource.outputType
        in: query
        required: false
        schema:
          type: string
          enum:
          - GridPage
          - Csv
          - Pdf
      - name: paymentsGridResource.exportAll
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.coreIdentity.tenantId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: paymentsGridResource.coreIdentity.userId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: paymentsGridResource.coreIdentity.localizationPreferences.cultureName
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.coreIdentity.localizationPreferences.dateFormat
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.coreIdentity.localizationPreferences.dateTimeFormat
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.coreIdentity.localizationPreferences.timeFormat
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.coreIdentity.localizationPreferences.currencyCode
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.coreIdentity.localizationPreferences.timezoneId
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.coreIdentity.integrations.trustAccounting
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.coreIdentity.integrations.operatingAccounting
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.coreIdentity.integrations.pantherPayments
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.coreIdentity.securityDetail.userId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: paymentsGridResource.coreIdentity.securityDetail.isUserAuthenticated
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.coreIdentity.securityDetail.hasFullAccess
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.coreIdentity.securityDetail.accessLevels
        in: query
        required: false
        explode: true
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
      security:
      - oauth2:
        - full
  /api/internal/v1/tenants/{tenantId}/bankAccounts/{bankAccountGuid}/payments:
    get:
      tags:
      - V1BankAccount
      operationId: V1BankAccount_GetPayments
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: bankAccountGuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: paymentsGridResource.searchTerm
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.paymentTypes
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - ContactPayment
            - FirmPayment
            - Refund
            - Expense
            - JournalEntry
      - name: paymentsGridResource.bankAccountGuids
        in: query
        description: 'Used to set the reference in POST and PUT '
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: paymentsGridResource.bankAccountTypes
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Operating
            - Trust
            - CreditCard
      - name: paymentsGridResource.paymentStatuses
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Pending
            - Failed
            - Success
            - Refunded
            - RefundPending
            - Canceled
      - name: paymentsGridResource.paymentMethods
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Cash
            - Check
            - CreditCard
            - PayPal
            - AuthorizeNet
            - Other
            - Stripe
            - Wire
            - Transfer
            - LawPay
            - PantherPaymentsCC
            - PantherPaymentsECheck
            - JournalEntry
      - name: paymentsGridResource.payeeGuid
        in: query
        description: 'Used to set the reference in POST and PUT '
        required: false
        schema:
          type: string
          format: uuid
      - name: paymentsGridResource.payorGuid
        in: query
        description: 'Used to set the reference in POST and PUT '
        required: false
        schema:
          type: string
          format: uuid
      - name: paymentsGridResource.dateFrom
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.dateTo
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.reconciledDateFrom
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.reconciledDateTo
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.amountFilter1.amount
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: paymentsGridResource.amountFilter1.operator
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.amountFilter2.amount
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: paymentsGridResource.amountFilter2.operator
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.paymentReconciledStatus
        in: query
        required: false
        schema:
          type: string
          enum:
          - NotReconciled
          - Reconciled
      - name: paymentsGridResource.accountTags
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: paymentsGridResource.projectTags
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: paymentsGridResource.tagsFilter
        in: query
        required: false
        schema:
          type: string
          enum:
          - All
          - Any
          - None
      - name: paymentsGridResource.contactAssignedToUserIds
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: paymentsGridResource.matterAssignedToUserIds
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: paymentsGridResource.contactAssignedToUserGroupGuids
        in: query
        description: 'Used to set the reference in POST and PUT '
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: paymentsGridResource.matterAssignedToUserGroupGuids
        in: query
        description: 'Used to set the reference in POST and PUT '
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: paymentsGridResource.pageVariant
        in: query
        required: false
        schema:
          type: string
          enum:
          - PaymentHistory
          - BankLedger
          - PrintChecks
          - CreditCardLedger
      - name: paymentsGridResource.isPrinted
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.isUsingQBNewIntegration
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.isPostedToAccountingPlus
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.hasSurchargesEnabled
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.columnDefinitions
        in: query
        required: false
        explode: true
        schema:
          type: array
          items: {}
      - name: paymentsGridResource.page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: paymentsGridResource.pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: paymentsGridResource.sortBy
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.columns
        in: query
        required: false
        explode: true
        schema:
          type: array
          items: {}
      - name: paymentsGridResource.outputType
        in: query
        required: false
        schema:
          type: string
          enum:
          - GridPage
          - Csv
          - Pdf
      - name: paymentsGridResource.exportAll
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.coreIdentity.tenantId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: paymentsGridResource.coreIdentity.userId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: paymentsGridResource.coreIdentity.localizationPreferences.cultureName
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.coreIdentity.localizationPreferences.dateFormat
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.coreIdentity.localizationPreferences.dateTimeFormat
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.coreIdentity.localizationPreferences.timeFormat
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.coreIdentity.localizationPreferences.currencyCode
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.coreIdentity.localizationPreferences.timezoneId
        in: query
        required: false
        schema:
          type: string
      - name: paymentsGridResource.coreIdentity.integrations.trustAccounting
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.coreIdentity.integrations.operatingAccounting
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.coreIdentity.integrations.pantherPayments
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.coreIdentity.securityDetail.userId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: paymentsGridResource.coreIdentity.securityDetail.isUserAuthenticated
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.coreIdentity.securityDetail.hasFullAccess
        in: query
        required: false
        schema:
          type: boolean
      - name: paymentsGridResource.coreIdentity.securityDetail.accessLevels
        in: query
        required: false
        explode: true
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
      security:
      - oauth2:
        - full
  /api/internal/v1/tenants/{tenantId}/bankAccounts:
    post:
      tags:
      - V1BankAccount
      summary: 'Note: [GetBankAccounts] should be a [HttpGet], and should get all params from the Uri, but we are working with the Legacy ReactJS Grid at this time.'
      operationId: V1BankAccount_GetBankAccounts
      parameters:
      - name: tenantId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int64
      - name: bankAccountGridResource.statusValue
        in: query
        required: false
        schema:
          type: string
          enum:
          - Any
          - Active
          - Archived
          - Connected
          - Pending
          - Failed
      - name: bankAccountGridResource.page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: bankAccountGridResource.pageSize
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: bankAccountGridResource.sortBy
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountGridResource.sortOrder
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountGridResource.columns
        in: query
        required: false
        explode: true
        schema:
          type: array
          items: {}
      - name: bankAccountGridResource.outputType
        in: query
        required: false
        schema:
          type: string
          enum:
          - GridPage
          - Csv
          - Pdf
      - name: bankAccountGridResource.exportAll
        in: query
        required: false
        schema:
          type: boolean
      - name: bankAccountGridResource.coreIdentity.tenantId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: bankAccountGridResource.coreIdentity.userId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: bankAccountGridResource.coreIdentity.localizationPreferences.cultureName
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountGridResource.coreIdentity.localizationPreferences.dateFormat
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountGridResource.coreIdentity.localizationPreferences.dateTimeFormat
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountGridResource.coreIdentity.localizationPreferences.timeFormat
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountGridResource.coreIdentity.localizationPreferences.currencyCode
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountGridResource.coreIdentity.localizationPreferences.timezoneId
        in: query
        required: false
        schema:
          type: string
      - name: bankAccountGridResource.coreIdentity.integrations.trustAccounting
        in: query
        required: false
        schema:
          type: boolean
      - name: bankAccountGridResource.coreIdentity.integrations.operatingAccounting
        in: query
        required: false
        schema:
          type: boolean
      - name: bankAccountGridResource.coreIdentity.integrations.pantherPayments
        in: query
        required: false
        schema:
          type: boolean
      - name: bankAccountGridResource.coreIdentity.securityDetail.userId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: bankAccountGridResource.coreIdentity.securityDetail.isUserAuthenticated
        in: query
        required: false
        schema:
          type: boolean
      - name: bankAccountGridResource.coreIdentity.securityDetail.hasFullAccess
        in: query
        required: false
        schema:
          type: boolean
      - name: bankAccountGridResource.coreIdentity.securityDetail.accessLevels
        in: query
        required: false
        explode: true
        schema:
          type: array
          items: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
      security:
      - oauth2:
        - full
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 - Authorization Code Grant
      flows:
        authorizationCode:
          authorizationUrl: /OAuth/Authorize
          tokenUrl: /OAuth/Token
          scopes:
            full: Read/Write access to all resources
