openapi: 3.0.0
info:
  version: v1
  title: Legacy API (v1) Account Invoice API
  description: ''
servers:
- url: https://app.practicepanther.com
tags:
- name: Invoice
paths:
  /api/invoice/{guid}:
    get:
      tags:
      - Invoice
      summary: Returns an invoice
      operationId: Invoice_GetInvoice
      parameters:
      - name: guid
        in: path
        description: ''
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleDocumentDTO_Detail'
            text/json:
              schema:
                $ref: '#/components/schemas/SaleDocumentDTO_Detail'
      security:
      - oauth2:
        - full
  /api/invoice:
    get:
      tags:
      - Invoice
      summary: OData end point to get a list of all invoices accessible by the user
      operationId: Invoice_GetInvoices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SaleDocumentDTO'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SaleDocumentDTO'
      security:
      - oauth2:
        - full
    delete:
      tags:
      - Invoice
      summary: Marks an existing invoice as deleted, will remove all amounts applied on invoices.
      operationId: Invoice_DeleteInvoice
      parameters:
      - name: guid
        in: query
        description: ''
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleDocumentDTO_Detail'
            text/json:
              schema:
                $ref: '#/components/schemas/SaleDocumentDTO_Detail'
      security:
      - oauth2:
        - full
components:
  schemas:
    AccountRef:
      type: object
      properties:
        nameAndNumber:
          description: ' '
          type: string
          readOnly: true
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        utbmsIsEnabled:
          type: boolean
        id:
          format: int64
          type: integer
    Contact:
      description: Contact domain methods - business logic and factory methods
      required:
      - id
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        id:
          format: int64
          type: integer
        photo:
          $ref: '#/components/schemas/Blob'
        photoThumbnail:
          type: array
          items:
            $ref: '#/components/schemas/Blob'
        firstName:
          type: string
        lastName:
          type: string
        middleName:
          type: string
        fullName:
          type: string
          readOnly: true
        displayName:
          type: string
        email:
          type: string
        mobile:
          type: string
        home:
          type: string
        office:
          type: string
        ext:
          type: string
        fax:
          type: string
        salutation:
          type: string
        position:
          type: string
        prefix:
          type: string
        notes:
          type: string
        skypeId:
          type: string
        twitter:
          type: string
        jobTitle:
          type: string
        gender:
          enum:
          - Male
          - Female
          type: string
        isEmailOptOut:
          type: boolean
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        type:
          enum:
          - Contact
          - Lead
          type: string
        accountId:
          format: int64
          type: integer
        tenant:
          $ref: '#/components/schemas/Tenant'
    BankAccount:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        description:
          type: string
        type:
          enum:
          - Operating
          - Trust
          - CreditCard
          type: string
        isDefault:
          type: boolean
        isArchived:
          type: boolean
        tenantId:
          format: int64
          type: integer
        tenant:
          $ref: '#/components/schemas/Tenant'
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        openingBalance:
          format: double
          type: number
        quickbooksId:
          type: string
        quickbooksIsDepositToUndepositedFunds:
          type: boolean
        isPrintDepositSlips:
          description: If checked, we will add all cash and check payments to these accounts to the deposit slip queue
          type: boolean
        xeroId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        lawPayAchAccountName:
          type: string
        lawPayAchAccountId:
          type: string
        lawPayMerchantAccountName:
          type: string
        lawPayMerchantAccountId:
          type: string
        headNoteId:
          type: string
        status:
          enum:
          - Created
          - Failed
          - Success
          - Archived
          type: string
        currencyCode:
          type: string
        accountNumber:
          type: string
        routingNumber:
          type: string
        swiftCode:
          type: string
        accountHolder:
          type: string
        institution:
          type: string
        domicileBranch:
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        firmPayments:
          type: array
          items:
            $ref: '#/components/schemas/FirmPayment'
        isDeleted:
          type: boolean
        isEnabled:
          type: boolean
        isDirty:
          type: boolean
        lastReconciledDate:
          format: date-time
          type: string
        trustbooksOnboardingStep:
          format: int32
          type: integer
    UserRef:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        displayName:
          description: ' '
          type: string
          readOnly: true
        name:
          description: ' '
          type: string
          readOnly: true
        timeZoneId:
          type: string
    InventoryTransfer:
      type: object
      properties:
        id:
          format: int64
          type: integer
        type:
          enum:
          - Transfer
          - PurchaseOrder
          - Update
          type: string
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        referenceNumber:
          type: string
        vendorId:
          format: int64
          type: integer
        vendor:
          $ref: '#/components/schemas/Account'
        sentBy:
          $ref: '#/components/schemas/User'
        sentDate:
          format: date-time
          type: string
        receivedBy:
          $ref: '#/components/schemas/User'
        receivedDate:
          format: date-time
          type: string
        productLogs:
          type: array
          items:
            $ref: '#/components/schemas/ProductLog'
        status:
          enum:
          - Created
          - Sent
          - ReceivedOk
          - ReceivedError
          - Lost
          type: string
          readOnly: true
        inventoryTransferItems:
          type: array
          items:
            $ref: '#/components/schemas/InventoryTransferItem'
        tenantId:
          format: int64
          type: integer
        tenant:
          $ref: '#/components/schemas/Tenant'
        isReviewed:
          type: boolean
        reviewedBy:
          $ref: '#/components/schemas/User'
        reviewedDate:
          format: date-time
          type: string
        description:
          type: string
        isAutoSend:
          type: boolean
        isAutoReceive:
          type: boolean
        shipments:
          type: array
          items:
            $ref: '#/components/schemas/Shipment'
        qtyReceived:
          format: double
          type: number
          readOnly: true
        qtySent:
          format: double
          type: number
          readOnly: true
        qtyLost:
          format: double
          type: number
          readOnly: true
    CustomFieldValue:
      required:
      - customField
      type: object
      properties:
        id:
          format: int64
          type: integer
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        accountId:
          format: int64
          type: integer
        projectId:
          format: int64
          type: integer
        contactId:
          format: int64
          type: integer
        contact:
          $ref: '#/components/schemas/Contact'
        customFieldId:
          format: int64
          type: integer
        valueContactId:
          format: int64
          type: integer
        valueContact:
          $ref: '#/components/schemas/Contact'
        customField:
          $ref: '#/components/schemas/CustomField'
        valueString:
          type: string
        valueNumber:
          format: double
          type: number
        valueDateTime:
          format: date-time
          type: string
        valueBoolean:
          type: boolean
    ConversationParticipant:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        conversation:
          $ref: '#/components/schemas/Conversation'
        contact:
          $ref: '#/components/schemas/Contact'
        user:
          $ref: '#/components/schemas/User'
        lastReadDate:
          format: date-time
          type: string
        status:
          enum:
          - Read
          - Unread
          type: string
        isDeleted:
          type: boolean
        isArchived:
          type: boolean
    ExpenseRef:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          description: ' '
          type: string
          readOnly: true
    FirmPayment:
      required:
      - amount
      - method
      - name
      - number
      - isDeleted
      - paymentDate
      - guid
      - tenantId
      - firmPaymentType
      type: object
      properties:
        id:
          format: int64
          type: integer
        amount:
          format: double
          type: number
        method:
          enum:
          - Cash
          - Check
          - CreditCard
          - PayPal
          - AuthorizeNet
          - Other
          - Stripe
          - Wire
          - Transfer
          - LawPay
          - PantherPaymentsCC
          - PantherPaymentsECheck
          - JournalEntry
          type: string
        name:
          maxLength: 50
          minLength: 0
          type: string
        number:
          format: int32
          type: integer
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdById:
          format: int32
          type: integer
        lastModifiedById:
          format: int32
          type: integer
        paymentDate:
          format: date-time
          type: string
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        notes:
          maxLength: 1000
          minLength: 0
          type: string
        tenantId:
          format: int64
          type: integer
        firmPaymentType:
          enum:
          - Withdrawal
          - Deposit
          type: string
        bankAccountGuid:
          format: uuid
          description: 'Used to set the reference in POST and PUT '
          type: string
          example: 00000000-0000-0000-0000-000000000000
        trustBooksReconciledById:
          format: int32
          type: integer
        trustBooksReconciledDate:
          format: date-time
          type: string
        payeeId:
          format: int64
          type: integer
        payorId:
          format: int64
          type: integer
        checkIsPrinted:
          type: boolean
        checkNumber:
          format: int64
          type: integer
        chartOfAccountId:
          format: int64
          type: integer
        trustbooksJournalEntryGuid:
          description: 'Used to set the reference in POST and PUT '
          type: string
        depositSlipId:
          format: int64
          type: integer
        isDepositSlipPrinted:
          type: boolean
        receipt_Id:
          format: int64
          type: integer
        referenceNumber:
          type: string
        reconciledById:
          format: int32
          type: integer
        reconciledDate:
          format: date-time
          type: string
    ProjectRef:
      type: object
      properties:
        nameAndNumber:
          description: This is a read only property This is a read only property
          type: string
          readOnly: true
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        accountGuid:
          format: uuid
          description: 'Used to set the reference in POST and PUT '
          type: string
          example: 00000000-0000-0000-0000-000000000000
        id:
          format: int64
          type: integer
    Feed:
      type: object
      properties:
        id:
          format: int64
          type: integer
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        text:
          type: string
        title:
          type: string
        contactId:
          format: int64
          type: integer
        contact:
          $ref: '#/components/schemas/Contact'
        accountId:
          format: int64
          type: integer
        account:
          $ref: '#/components/schemas/Account'
        activityReminderId:
          format: int64
          type: integer
        activityReminder:
          $ref: '#/components/schemas/ActivityReminder'
        paymentId:
          format: int64
          type: integer
        payment:
          $ref: '#/components/schemas/Payment'
        saleDocumentId:
          format: int32
          type: integer
        saleDocument:
          $ref: '#/components/schemas/SaleDocument'
        productId:
          format: int64
          type: integer
        product:
          $ref: '#/components/schemas/Product'
        projectId:
          format: int64
          type: integer
        project:
          $ref: '#/components/schemas/Project'
        userId:
          format: int32
          type: integer
        user:
          $ref: '#/components/schemas/User'
        activityId:
          format: int64
          type: integer
        activity:
          $ref: '#/components/schemas/Activity'
        campaignId:
          format: int64
          type: integer
        campaign:
          $ref: '#/components/schemas/Campaign'
        blobId:
          format: int64
          type: integer
        blob:
          $ref: '#/components/schemas/Blob'
        timeEntryId:
          format: int64
          type: integer
        timeEntry:
          $ref: '#/components/schemas/TimeEntry'
        flatFeeId:
          format: int64
          type: integer
        flatFee:
          $ref: '#/components/schemas/FlatFee'
        expenseId:
          format: int64
          type: integer
        expense:
          $ref: '#/components/schemas/Expense'
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        createdById:
          format: int32
          type: integer
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedDate:
          format: date-time
          type: string
        lastModifiedById:
          format: int32
          type: integer
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        tenantId:
          format: int64
          type: integer
        tenant:
          $ref: '#/components/schemas/Tenant'
        type:
          enum:
          - Note
          - Notification
          - Reminder
          - AccountingOnboardingCompleted
          type: string
        url:
          type: string
          readOnly: true
        image:
          type: string
          readOnly: true
        feedNotifications:
          type: array
          items:
            $ref: '#/components/schemas/FeedNotification'
        depositSlipFeed:
          $ref: '#/components/schemas/DepositSlipFeed'
    PaymentRef:
      required:
      - amount
      - date
      - method
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        amount:
          format: double
          description: The total amount received.
          type: number
        name:
          description: ' '
          type: string
          readOnly: true
        date:
          format: date-time
          type: string
        method:
          enum:
          - Cash
          - Check
          - CreditCard
          - PayPal
          - AuthorizeNet
          - Other
          - Stripe
          - Wire
          - Transfer
          - LawPay
          - PantherPaymentsCC
          - PantherPaymentsECheck
          - JournalEntry
          type: string
        methodName:
          type: string
          readOnly: true
    UserPopUpSettings:
      type: object
      properties:
        isHideWelcomePopup:
          type: boolean
        isHideClientPopup:
          type: boolean
        isHideProjectPopup:
          type: boolean
        isHideTimeEntryExpensePopup:
          type: boolean
        isHideInvoicePopup:
          type: boolean
        isHideEmailClientPopup:
          type: boolean
        isHideTaskPopup:
          type: boolean
    NoteProperties:
      type: object
      properties:
        noteDateTime:
          format: date-time
          type: string
    SaleDocumentItemDTO:
      type: object
      properties:
        rowIndex:
          format: int32
          description: Controls the order of the items when displayed on the invoice/
          type: integer
        qty:
          format: double
          description: Can be either positive or negative. Set to negative to apply a discount on the invoice.
          type: number
        description:
          type: string
        entryDate:
          format: date-time
          description: Used for items of type "TimeEntry" to indicate the date of the time entry.
          type: string
        userName:
          description: Used for items of type "TimeEntry" to indicate the user billing for the time.
          type: string
        price:
          format: double
          description: Must be positive.
          type: number
        tax1Data:
          $ref: '#/components/schemas/SalesTaxData'
        tax1:
          format: double
          description: Shows the total amount of Tax1 applied to this item/ Shows the total amount of Tax1 applied to this item/
          type: number
          readOnly: true
        tax2Data:
          $ref: '#/components/schemas/SalesTaxData'
        tax2:
          format: double
          description: ' '
          type: number
          readOnly: true
        projectGuid:
          format: uuid
          description: 'Used to set the reference in POST and PUT '
          type: string
          example: 00000000-0000-0000-0000-000000000000
        projectName:
          type: string
        projectNumber:
          format: int32
          type: integer
        discount:
          format: double
          description: Calculated from SaleDocument.DiscountPercent Calculated from SaleDocument.DiscountPercent
          type: number
          readOnly: true
        sub:
          format: double
          description: Calculated as Qty * Price Calculated as Qty * Price
          type: number
          readOnly: true
        total:
          format: double
          description: Calculated as Sub + (Sub * Tax) Calculated as Sub + (Sub * Tax)
          type: number
          readOnly: true
        type:
          description: Indicates if this is a regular invoice item or a time entry invoice item.
          enum:
          - RegularItem
          - TimeEntryItem
          - ExpenseItem
          - InterestItem
          - EmptyItem
          type: string
        timeEntries:
          type: array
          items:
            $ref: '#/components/schemas/TimeEntryRef'
        expenses:
          type: array
          items:
            $ref: '#/components/schemas/ExpenseRef'
        flatFees:
          type: array
          items:
            $ref: '#/components/schemas/FlatFeeRef'
        flatFeesGuids:
          description: Used to set the reference in POST and PUTReferences the flat fees billed on this item. References the flat fees billed on this item.
          type: string
        timeEntriesGuids:
          description: Used to set the reference in POST and PUTReferences the time entries billed on this item. References the time entries billed on this item.
          type: string
        expensesGuids:
          description: Used to set the reference in POST and PUTReferences the expenses billed on this item. References the expenses billed on this item.
          type: string
        flatRateProjectId:
          format: int64
          description: References the flat rate projects that were billed on this item.
          type: integer
        ledesUtbmsCode:
          type: string
        ledesItemCode:
          type: string
        ledesExpenseCode:
          type: string
        ledesTimekeeperClass:
          type: string
        chartOfAccountId:
          format: int64
          type: integer
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
    PaymentImportMatch:
      required:
      - matchId
      type: object
      properties:
        tenant:
          $ref: '#/components/schemas/Tenant'
        tenantId:
          format: int64
          type: integer
        payment:
          $ref: '#/components/schemas/Payment'
        paymentId:
          format: int64
          type: integer
        depositSlipId:
          format: int64
          type: integer
        depositSlip:
          $ref: '#/components/schemas/DepositSlip'
        matchId:
          type: string
        source:
          enum:
          - PLAID
          - CSV
          type: string
        createdAt:
          format: date-time
          type: string
    DefaultReminder:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        timeType:
          enum:
          - Day
          - Hour
          - Minute
          type: string
        time:
          format: int32
          type: integer
        notificationType:
          enum:
          - Popup
          - Email
          - SMS
          type: string
        userId:
          format: int32
          type: integer
        user:
          $ref: '#/components/schemas/User'
        workFlowEventId:
          format: int64
          type: integer
        workFlowTaskId:
          format: int64
          type: integer
        workFlowTask:
          $ref: '#/components/schemas/WorkflowTask'
        createdDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        isDeleted:
          type: boolean
    Product:
      required:
      - id
      - name
      - salePrice
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        id:
          format: int64
          type: integer
        name:
          type: string
        code:
          type: string
        description:
          type: string
        costPrice:
          format: double
          type: number
        salePrice:
          format: double
          type: number
        isPriceIncludesTax:
          type: boolean
        isOverrideHourlyRate:
          type: boolean
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        tenant_Id:
          format: int64
          type: integer
        tenant:
          $ref: '#/components/schemas/Tenant'
        family:
          $ref: '#/components/schemas/Family'
        tax1Id:
          format: int64
          type: integer
        tax1:
          $ref: '#/components/schemas/SalesTax'
        tax2Id:
          format: int64
          type: integer
        tax2:
          $ref: '#/components/schemas/SalesTax'
        photos:
          type: array
          items:
            $ref: '#/components/schemas/Blob'
        isInventoried:
          type: boolean
        qtyAvailable:
          format: double
          type: number
        partnerships:
          type: array
          items:
            $ref: '#/components/schemas/Partnership'
        productLogs:
          type: array
          items:
            $ref: '#/components/schemas/ProductLog'
        priceListItems:
          type: array
          items:
            $ref: '#/components/schemas/PriceListItem'
        productVendors:
          type: array
          items:
            $ref: '#/components/schemas/ProductVendor'
        inventories:
          type: array
          items:
            $ref: '#/components/schemas/Inventory'
        feeds:
          type: array
          items:
            $ref: '#/components/schemas/Feed'
        chartOfAccountId:
          format: int64
          type: integer
        chartOfAccount:
          $ref: '#/components/schemas/ChartOfAccount'
    AccountProjectLink:
      required:
      - accountId
      - projectId
      type: object
      properties:
        isRelationshipSelected:
          type: boolean
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        id:
          format: int64
          type: integer
        accountId:
          format: int64
          type: integer
        account:
          $ref: '#/components/schemas/Account'
        contactId:
          format: int64
          type: integer
        contact:
          $ref: '#/components/schemas/Contact'
        projectId:
          format: int64
          type: integer
        project:
          $ref: '#/components/schemas/Project'
        relationshipName:
          type: string
        notes:
          type: string
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
    CustomFieldSet:
      required:
      - name
      type: object
      properties:
        tenant:
          $ref: '#/components/schemas/Tenant'
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        objectType:
          enum:
          - Account
          - Project
          - Contact
          - User
          - Address
          type: string
        customFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomField'
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        isDeleted:
          type: boolean
    MailServerSettings:
      type: object
      properties:
        provider:
          enum:
          - AOL
          - Gmail
          - Hotmail
          - iCloud
          - Outlook
          - Yahoo
          - Other
          - Office365
          type: string
        isEnabled:
          type: boolean
        serverAddress:
          type: string
        serverPort:
          format: int32
          type: integer
        encryptionType:
          enum:
          - None
          - SSL
          type: string
        username:
          type: string
        password:
          type: string
        isPasswordEncrypted:
          type: boolean
        isRequiresAuthentication:
          type: boolean
    WorkflowTask:
      required:
      - name
      type: object
      properties:
        id:
          format: int64
          type: integer
        workflowId:
          format: int64
          type: integer
        workflow:
          $ref: '#/components/schemas/Workflow'
        name:
          type: string
        description:
          type: string
        isDueDate:
          type: boolean
        numOfDays:
          format: int32
          type: integer
        daysType:
          enum:
          - Days
          - BusinessDays
          - Weeks
          - Months
          - Years
          type: string
        beforeOrAfter:
          enum:
          - Before
          - After
          type: string
        dueOrCompletionDate:
          enum:
          - DueDate
          - CompletionDate
          type: string
        workFlowParentTaskId:
          format: int64
          type: integer
        workflowEventId:
          format: int64
          type: integer
        workflowEvent:
          $ref: '#/components/schemas/WorkflowEvent'
        assignedToUsers:
          type: array
          items:
            $ref: '#/components/schemas/User'
        priority:
          enum:
          - Low
          - Medium
          - High
          type: string
        eventColor:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        isSendNotificationEmail:
          type: boolean
        reminders:
          type: array
          items:
            $ref: '#/components/schemas/DefaultReminder'
        isTaskConditional:
          type: boolean
    SaleDocumentTemplate:
      type: object
      properties:
        name:
          type: string
        id:
          format: int64
          type: integer
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        templateName:
          enum:
          - CustomCss
          - Style
          - Style2
          - Style3
          - Style4
          - Style5
          - Style6
          - Style7
          - Style8
          - Style9
          - Style10
          - Style11
          type: string
        isDefault:
          type: boolean
        customTemplateCss:
          type: string
        company_IsShowCompanyLogo:
          type: boolean
        company_IsShowCompanyAddress:
          type: boolean
        company_IsShowCompanyWorkNumber:
          type: boolean
        company_IsShowCompanyMobileNumber:
          type: boolean
        company_IsShowcompanyFaxNumber:
          type: boolean
        company_IsShowCompanyWebsite:
          type: boolean
        company_IsShowCompanyEmail:
          type: boolean
        company_IsShowAssignedToEmail:
          type: boolean
        account_IsShowContactAddress:
          type: boolean
        account_IsShowContactHomeNumber:
          type: boolean
        account_IsshowContactOfficeNumber:
          type: boolean
        account_IsShowContactFaxNumber:
          type: boolean
        account_IsShowContactEmail:
          type: boolean
        project_IsShowProjectName:
          type: boolean
        project_ProjectName:
          type: string
        project_IsShowLedesId:
          type: boolean
        project_LedesIdName:
          type: string
        saleDocument_IsShowInvoiceTitle:
          type: boolean
        saleDocument_InvoiceTitle:
          type: string
        saleDocument_IsShowQuoteTitle:
          type: boolean
        saleDocument_QuoteTitle:
          type: string
        saleDocument_IsShowSaleDocumentNumber:
          type: boolean
        saleDocument_SaleDocumentNumberText:
          type: string
        saleDocument_IsShowSaleDocumentIssueDate:
          type: boolean
        saleDocument_SaleDocumentIssueDateText:
          type: string
        saleDocument_IsShowInvoiceDueDate:
          type: boolean
        saleDocument_InvoiceDueDateText:
          type: string
        saleDocument_IsShowQuoteExpDate:
          type: boolean
        saleDocument_QuoteExpDateText:
          type: string
        saleDocument_IsShowSaleDocumentReferenceNumber:
          type: boolean
        saleDocument_SaleDocumentReferenceNumberText:
          type: string
        saleDocumentTemplateDepositTo:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        time_IsShowTimeItemColumn:
          type: boolean
        time_TimeItemColumnHeaderText:
          type: string
        time_IsShowTimeDescriptionColumn:
          type: boolean
        time_TimeDescriptionColumnHeaderText:
          type: string
        time_IsShowTimeUserColumn:
          type: boolean
        time_TimeUserColumnHeaderText:
          type: string
        time_IsShowTimeUserInitialsInsteadOfFullName:
          type: boolean
        time_IsShowTimeDateColumn:
          type: boolean
        time_TimeDateColumnHeaderText:
          type: string
        time_IsShowTimeHoursColumn:
          type: boolean
        time_TimeHoursColumnHeaderText:
          type: string
        time_IsShowTimeRateColumn:
          type: boolean
        time_TimeRateColumnHeaderText:
          type: string
        time_IsShowTimeSubtotalColumn:
          type: boolean
        time_TimeSubtotalColumnHeaderText:
          type: string
        time_IsShowTimeDiscountColumn:
          type: boolean
        time_TimeDiscountColumnHeaderText:
          type: string
        time_IsShowSummary:
          type: boolean
        time_IsShowItemCode:
          type: boolean
        time_IsShowUtbmsCode:
          type: boolean
        time_IsShowSummaryByUser:
          type: boolean
        items_IsShowItemsItemColumn:
          type: boolean
        items_ItemsItemColumnHeaderText:
          type: string
        items_IsShowItemsDescriptionColumn:
          type: boolean
        items_ItemsDescriptionColumnHeaderText:
          type: string
        items_IsShowItemsUserColumn:
          type: boolean
        items_IsShowUserInitialsInsteadOfFullName:
          type: boolean
        items_IsShowItemsQtyColumn:
          type: boolean
        items_ItemsQtyColumnHeaderText:
          type: string
        items_IsShowItemsPriceColumn:
          type: boolean
        items_ItemsPriceColumnHeaderText:
          type: string
        items_IsShowItemsSubtotalColumn:
          type: boolean
        items_ItemsSubtotalColumnHeaderText:
          type: string
        items_ItemsShowDiscountColumn:
          type: boolean
        items_ItemsDiscountColumnHeaderText:
          type: string
        items_IsShowSummary:
          type: boolean
        payments_IsShowPaymentNotes:
          type: boolean
        payments_IsShowPaymentDate:
          type: boolean
        payments_IsShowFullPaymentAmount:
          type: boolean
        summary_TrustAccountBalanceText:
          type: string
        summary_IsShowTrustAccountBalance:
          type: boolean
        summary_IsShowTrustAccountLedger:
          type: boolean
        summary_TrustAccountLedgerType:
          enum:
          - SinceLastPaidInvoice
          - SinceLastInvoice
          - LastMonth
          - AllTime
          type: string
        summary_OperatingAccountBalanceText:
          type: string
        summary_IsShowOperatingAccountBalance:
          type: boolean
        summary_IsShowOperatingAccountLedger:
          type: boolean
        summary_OperatingAccountLedgerType:
          enum:
          - SinceLastPaidInvoice
          - SinceLastInvoice
          - LastMonth
          - AllTime
          type: string
        summary_ShowAccountSummaryAndLedgerPerContactOrMatter:
          enum:
          - Account
          - Project
          type: string
        summary_IsShowOnlinePaymentButton:
          type: boolean
        summary_OnlinePaymentButtonText:
          type: string
        summary_IsShowTermsAndConditions:
          type: boolean
        summary_TermsAndConditionsHeaderText:
          type: string
        expense_IsShowItemColumn:
          type: boolean
        expense_ItemColumnHeaderText:
          type: string
        expense_IsShowDescriptionColumn:
          type: boolean
        expense_DescriptionColumnHeaderText:
          type: string
        expense_IsShowUserColumn:
          type: boolean
        expense_UserColumnHeaderText:
          type: string
        expense_IsShowUserInitialsInsteadOfFullName:
          type: boolean
        expense_IsShowDateColumn:
          type: boolean
        expense_DateColumnHeaderText:
          type: string
        items_IsShowDateColumn:
          type: boolean
        items_DateColumnHeaderText:
          type: string
        expense_IsShowQuantityColumn:
          type: boolean
        expense_QuantityColumnHeaderText:
          type: string
        expense_IsShowPriceColumn:
          type: boolean
        expense_PriceColumnHeaderText:
          type: string
        expense_IsShowSubtotalColumn:
          type: boolean
        expense_SubtotalColumnHeaderText:
          type: string
        expense_IsShowDiscountColumn:
          type: boolean
        expense_DiscountColumnHeaderText:
          type: string
        expense_IsShowSummary:
          type: boolean
        expense_IsShowItemCode:
          type: boolean
        summary_ReplenishRetainerInvoiceText:
          type: string
        defaultInvoiceTermsAndConditions:
          type: string
        defaultQuoteTermsAndConditions:
          type: string
        defaultInvoiceNotes:
          type: string
        defaultInvoiceNotesPosition:
          enum:
          - Bottom
          - Top
          type: string
        saleDocument_Default_DueDate_Days:
          format: int32
          description: Set to true to send automatic payment reminders to this client.
          type: integer
        saleDocument_Default_DueDate_Option:
          enum:
          - DaysAfterInvoiceDate
          - OfTheCurrentMonth
          - OfTheFollowingMonth
          type: string
        saleDocument_Default_IsSendInvoicePaymentReminders:
          description: Set to true to send automatic payment reminders to this client.
          type: boolean
        saleDocument_Default_IsSendQuoteApprovalReminders:
          type: boolean
        saleDocument_Default_IsUseCreditToPayBalance:
          description: Used during PUT/POST. If set to true all available operating account credit (for this account / project) will automatically be applied to this invoice to pay any amount due.
          type: boolean
        saleDocument_Default_IsUseTrustToPayBalance:
          description: Used during PUT/POST. If set to true will automatically transfer funds from the trust account to the operating account and apply them on this invoice.
          type: boolean
        saleDocument_Default_IsAllowOnlinePayment:
          description: Invoices of type Sale only. If set to true, will accept online payment on this invoice. Online payments must be enabled for this to apply.
          type: boolean
        saleDocument_Default_IsAllowPartialPayment:
          description: Invoices of type Sale only. If set to true, will accept online payment on this invoice for less than the full amount due. Online payments must be enabled for this to apply.
          type: boolean
        saleDocument_Default_IsCarryForwardBalance:
          description: Invoices of type Sale only. If set to true, will add to the total balance all unpaid invoices
          type: boolean
        saleDocument_Default_CarryForwardBalanceType:
          enum:
          - Account
          - Project
          type: string
        saleDocument_Default_Tax1Guid:
          format: uuid
          description: 'Used to set the reference in POST and PUT '
          type: string
          example: 00000000-0000-0000-0000-000000000000
        saleDocument_Default_Tax2Guid:
          format: uuid
          description: 'Used to set the reference in POST and PUT '
          type: string
          example: 00000000-0000-0000-0000-000000000000
        defaultInterest:
          $ref: '#/components/schemas/InterestOptions'
        tenantId:
          format: int64
          type: integer
        tenant:
          $ref: '#/components/schemas/Tenant'
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        defaultLedesFormat:
          enum:
          - B98
          - B198
          type: string
        time_TimeKeeperSummaryExcludeWriteDowns:
          type: boolean
    PriceList:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        id:
          format: int64
          type: integer
        name:
          type: string
        isFixedPriceLevel:
          type: boolean
        fixedPriceLevelPercent:
          format: double
          type: number
        isRoundToNearest:
          type: boolean
        roundToNearest:
          enum:
          - d00
          - d05
          - d50
          - d95
          - d99
          type: string
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        priceListItems:
          type: array
          items:
            $ref: '#/components/schemas/PriceListItem'
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        locations:
          type: array
          items:
            $ref: '#/components/schemas/Location'
        websites:
          type: array
          items:
            $ref: '#/components/schemas/Website'
        tenant:
          $ref: '#/components/schemas/Tenant'
    RecurringPaymentSchedule:
      type: object
      properties:
        start:
          format: date-time
          description: The start date for the schedule such that the first occurrence may be executed on or after this date
          type: string
        end:
          format: date-time
          description: The end date for the schedule such that the last occurrence is executed on or before this date (optional)
          type: string
        intervalDelay:
          format: int32
          description: " The frequency with which the schedule is executed, in terms of the interval_unit.\r\nFor example, if the interval unit is DAY, an interval delay of 1 means the schedule is executed every day; an interval delay of 2 means execution every other day; and an interval delay of 30 would mean the schedule is executed every 30 days."
          type: integer
        intervalUnit:
          description: "The interval unit of the schedule. Enumeration of:\r\nDAY - Scheduled payments are performed every n days, based on the interval_delay.\r\nWEEK - Scheduled payments are performed every n weeks, based on the interval_delay.\r\nMONTH - Scheduled payments are performed every n months, based on the interval_delay."
          enum:
          - Day
          - Week
          - Month
          - Custom
          type: string
        surchargesEnabled:
          type: boolean
    Family:
      required:
      - name
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        id:
          format: int32
          type: integer
        name:
          type: string
        number:
          type: string
        products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        tenant:
          $ref: '#/components/schemas/Tenant'
    PresetProjectRate:
      required:
      - name
      type: object
      properties:
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        description:
          type: string
        projectRates:
          type: array
          items:
            $ref: '#/components/schemas/ProjectRate'
        projects:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        isDeleted:
          type: boolean
        isEnabled:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        tenant:
          $ref: '#/components/schemas/Tenant'
    SaleDocumentPayment:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        id:
          format: int64
          type: integer
        openBalance:
          format: double
          type: number
          readOnly: true
        appliedDate:
          format: date-time
          type: string
        amount:
          format: double
          type: number
        saleDocumentId:
          format: int32
          type: integer
        saleDocument:
          $ref: '#/components/schemas/SaleDocument'
        payment:
          $ref: '#/components/schemas/Payment'
        paymentId:
          format: int64
          type: integer
        creditId:
          format: int64
          type: integer
        credit:
          $ref: '#/components/schemas/Credit'
    Tag:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        id:
          format: int64
          type: integer
        name:
          type: string
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        projects:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        activities:
          type: array
          items:
            $ref: '#/components/schemas/Activity'
        tenantId:
          format: int64
          type: integer
        tenant:
          $ref: '#/components/schemas/Tenant'
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdById:
          format: int32
          type: integer
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedById:
          format: int32
          type: integer
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        tagFor:
          enum:
          - Account
          - Project
          - Activity
          type: string
    Activity:
      required:
      - name
      type: object
      properties:
        date:
          format: date-time
          type: string
        shares:
          type: array
          items:
            $ref: '#/components/schemas/Share'
        workflowId:
          format: int64
          type: integer
        workflow:
          $ref: '#/components/schemas/Workflow'
        activitiesSync:
          type: array
          items:
            $ref: '#/components/schemas/ActivitySync'
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        id:
          format: int64
          type: integer
        googleId:
          type: string
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        recurrenceStopDate:
          format: date-time
          type: string
        createdById:
          format: int32
          type: integer
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        lawToolboxCourtRule_Id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        lawToolboxCourtRule:
          $ref: '#/components/schemas/LawToolboxCourtRule'
        lawToolboxDeadlineId:
          type: string
        lawToolboxDeadlineNumber:
          type: string
        tenantId:
          format: int64
          type: integer
        tenant:
          $ref: '#/components/schemas/Tenant'
        isHoursLoggedManually:
          description: sets if the activity should be marked as "time logged" even if no time was linked to it.
          type: boolean
        recurrenceId:
          format: int64
          description: will show the realted recurrence for this event, if such exists
          type: integer
        recurrence:
          $ref: '#/components/schemas/Recurrence'
        type:
          enum:
          - Call
          - Task
          - Event
          - Email
          - Note
          type: string
        accountId:
          format: int64
          pattern: ^(\s*|\d+)$
          type: integer
        account:
          $ref: '#/components/schemas/Account'
        contactId:
          format: int64
          type: integer
        contact:
          $ref: '#/components/schemas/Contact'
        projectId:
          format: int64
          pattern: ^(\s*|\d+)$
          type: integer
        project:
          $ref: '#/components/schemas/Project'
        saleDocumentId:
          format: int64
          type: integer
        saleDocument:
          $ref: '#/components/schemas/SaleDocument'
        name:
          type: string
        description:
          type: string
        assignedToUsers:
          type: array
          items:
            $ref: '#/components/schemas/User'
        assignedToContacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        htmlBody:
          $ref: '#/components/schemas/Blob'
        dueDate:
          format: date-time
          type: string
        taskCompleteDate:
          format: date-time
          type: string
        startDateTime:
          format: date-time
          type: string
        endDateTime:
          format: date-time
          type: string
        isAllDayActivity:
          type: boolean
        location:
          type: string
        status:
          enum:
          - NotCompleted
          - InProgress
          - Completed
          - Conditional
          type: string
        mandrillId:
          type: string
        isPrivate:
          type: boolean
        priority:
          enum:
          - Low
          - Medium
          - High
          type: string
        isSendNotificationEmail:
          type: boolean
        isSendCompletedEmail:
          type: boolean
        isSendTaskCompleteEmail:
          type: boolean
        isRecurringActivity:
          type: boolean
        recurringActivityStartDate:
          format: date-time
          type: string
        recurringActivityEndDate:
          format: date-time
          type: string
        recurringRepeatType:
          enum:
          - None
          - Daily
          - Weekly
          - Monthly
          - Yearly
          type: string
        callType:
          enum:
          - Inbound
          - Outbound
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        eventColor:
          type: string
        emailProperties:
          $ref: '#/components/schemas/EmailProperties'
        noteProperties:
          $ref: '#/components/schemas/NoteProperties'
        callProperties:
          $ref: '#/components/schemas/CallProperties'
        timeEntries:
          type: array
          items:
            $ref: '#/components/schemas/TimeEntry'
        flatFees:
          type: array
          items:
            $ref: '#/components/schemas/FlatFee'
        eventBackgroundColor:
          type: string
        blobs:
          type: array
          items:
            $ref: '#/components/schemas/Blob'
        invitees:
          type: array
          items:
            $ref: '#/components/schemas/Invitee'
        activityReminders:
          type: array
          items:
            $ref: '#/components/schemas/ActivityReminder'
        activityConditionalTasks:
          type: array
          items:
            $ref: '#/components/schemas/ActivityConditionalTask'
        completedTask:
          $ref: '#/components/schemas/CompletedTask'
    TwilioTextMessageChat:
      required:
      - contact
      - tenant
      - createdBy
      type: object
      properties:
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        unreadCount:
          format: int32
          maximum: 2147483647
          minimum: 0
          type: integer
        lastMessageText:
          maxLength: 320
          minLength: 0
          type: string
        isLastMessageIncoming:
          type: boolean
        contact:
          $ref: '#/components/schemas/Contact'
        projects:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        tenant:
          $ref: '#/components/schemas/Tenant'
        createdBy:
          $ref: '#/components/schemas/User'
        createdDate:
          format: date-time
          type: string
        lastMessageSentDate:
          format: date-time
          type: string
    AccountTotal:
      required:
      - tenantId
      type: object
      properties:
        accountId:
          format: int64
          type: integer
        account:
          $ref: '#/components/schemas/Account'
        tenantId:
          format: int64
          type: integer
        trust:
          format: double
          type: number
        paid:
          format: double
          type: number
        operating:
          format: double
          type: number
        billable:
          format: double
          type: number
        operatingUnappliedCredit:
          format: double
          type: number
        invoicesDue:
          format: double
          type: number
        operatingPaid:
          format: double
          type: number
        ccPaid:
          format: double
          type: number
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
    PaymentReminder:
      required:
      - tenant
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        isDeleted:
          type: boolean
        isEnabled:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        tenant:
          $ref: '#/components/schemas/Tenant'
        dueOverdue:
          enum:
          - Before
          - After
          type: string
        numOfDays:
          format: int32
          minimum: 0
          type: integer
        subject:
          type: string
        body:
          type: string
        reminderMinAmountDue:
          format: double
          minimum: 0
          type: number
    ActivityConditionalTask:
      type: object
      properties:
        id:
          format: int64
          type: integer
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        activityTaskGuid:
          format: uuid
          description: 'Used to set the reference in POST and PUT '
          type: string
          example: 00000000-0000-0000-0000-000000000000
        isConditionalTask:
          type: boolean
        parentId:
          format: int64
          type: integer
        activity:
          $ref: '#/components/schemas/Activity'
        workflowId:
          format: int64
          type: integer
        description:
          type: string
        numOfDays:
          format: int32
          type: integer
        subject:
          type: string
        dueDateType:
          enum:
          - Days
          - BusinessDays
          - Weeks
          - Months
          - Years
          type: string
        beforeOrAfter:
          enum:
          - Before
          - After
          type: string
    Location:
      type: object
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        tenant:
          $ref: '#/components/schemas/Tenant'
        address:
          $ref: '#/components/schemas/Address'
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
        priceList:
          $ref: '#/components/schemas/PriceList'
    FeedNotification:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        user:
          $ref: '#/components/schemas/User'
        feed:
          $ref: '#/components/schemas/Feed'
        createdDate:
          format: date-time
          type: string
        isRead:
          type: boolean
        readDate:
          format: date-time
          type: string
        isSticky:
          type: boolean
    DepositSlip:
      required:
      - guid
      - tenantId
      - depositDate
      - bankAccount
      - createdDate
      - lastModifiedDate
      - type
      - isDeleted
      - number
      type: object
      properties:
        id:
          format: int64
          type: integer
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        tenantId:
          format: int64
          type: integer
        tenant:
          $ref: '#/components/schemas/Tenant'
        depositDate:
          format: date-time
          type: string
        bankAccountGuid:
          format: uuid
          description: 'Used to set the reference in POST and PUT '
          type: string
          example: 00000000-0000-0000-0000-000000000000
        bankAccount:
          $ref: '#/components/schemas/BankAccount'
        createdById:
          format: int32
          type: integer
        createdBy:
          $ref: '#/components/schemas/User'
        depositedById:
          format: int32
          type: integer
        depositedBy:
          $ref: '#/components/schemas/User'
        lastModifiedById:
          format: int32
          type: integer
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        firmPayments:
          type: array
          items:
            $ref: '#/components/schemas/FirmPayment'
        type:
          enum:
          - Manual
          - Online
          type: string
        isPrinted:
          type: boolean
        isDeleted:
          type: boolean
        number:
          format: int32
          type: integer
        headnoteBatchId:
          type: string
    IntakeForm:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        template:
          $ref: '#/components/schemas/IntakeFormTemplate'
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        tenantId:
          format: int64
          type: integer
        tenant:
          $ref: '#/components/schemas/Tenant'
        projectId:
          format: int64
          type: integer
        project:
          $ref: '#/components/schemas/Project'
        accountId:
          format: int64
          type: integer
        account:
          $ref: '#/components/schemas/Account'
        createdByIpAddress:
          type: string
        entries:
          type: array
          items:
            $ref: '#/components/schemas/IntakeFormEntry'
        activityId:
          format: int64
          type: integer
        activity:
          $ref: '#/components/schemas/Activity'
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
    TagDTO:
      required:
      - name
      type: object
      properties:
        name:
          type: string
    Shipment:
      type: object
      properties:
        id:
          format: int64
          type: integer
        shippingCarrier:
          enum:
          - Usps
          - Fedex
          - Ups
          - Lasership
          type: string
        trackingNumber:
          type: string
        shippingCost:
          format: double
          type: number
        insuranceAmount:
          format: double
          type: number
        insuranceCost:
          format: double
          type: number
        totalCost:
          format: double
          type: number
          readOnly: true
        shippedDate:
          format: date-time
          type: string
        estimatedArrivalDate:
          format: date-time
          type: string
        arrivalDate:
          format: date-time
          type: string
        invoice:
          $ref: '#/components/schemas/SaleDocument'
        inventoryTransfer:
          $ref: '#/components/schemas/InventoryTransfer'
        tenant:
          $ref: '#/components/schemas/Tenant'
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
    Tenant:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        id:
          format: int64
          type: integer
        name:
          type: string
        logo:
          $ref: '#/components/schemas/Blob'
        logoThumbnail:
          $ref: '#/components/schemas/Blob'
        headerLogo:
          $ref: '#/components/schemas/Blob'
        headerColor:
          type: string
        isChatEnabled:
          type: boolean
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        isDefaultSubmitInvoicesForApproval:
          type: boolean
        isPortalEnabled:
          type: boolean
        portalHeaderText:
          type: string
        primaryUserId:
          format: int32
          type: integer
        isEmailConfirmed:
          type: boolean
        confirmEmailUrl:
          type: string
        createdDate:
          format: date-time
          type: string
        conversionDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        sfAccountOwnerId:
          type: string
        emailInvoiceReminderSubjectTemplate:
          type: string
        emailInvoiceReminderTemplate:
          type: string
        emailPaymentRequestSubjectTemplate:
          type: string
        emailPaymentRequestTemplate:
          type: string
        emailInvoiceReminderFrequency:
          enum:
          - Daily
          - Every2Days
          - Every3Days
          - Every4Days
          - Every5Days
          - Every6Days
          - Weekly
          - Monthly
          - NeverSendReminders
          type: string
        emailInvoiceReminderMaxTimes:
          format: int32
          type: integer
        emailQuoteReminderSubjectTemplate:
          type: string
        emailQuoteReminderTemplate:
          type: string
        emailQuoteReminderFrequency:
          enum:
          - Daily
          - Every2Days
          - Every3Days
          - Every4Days
          - Every5Days
          - Every6Days
          - Weekly
          - Monthly
          - NeverSendReminders
          type: string
        emailQuoteReminderMaxTimes:
          format: int32
          type: integer
        emailInvoiceTemplate:
          type: string
        emailInvoiceSubjectTemplate:
          type: string
        emailQuoteTemplate:
          type: string
        emailQuoteSubjectTemplate:
          type: string
        emailPaymentTemplate:
          type: string
        emailPaymentSubjectTemplate:
          type: string
        boxFolderId:
          type: string
        isBoxIntegrationEnabled:
          type: boolean
        boxOwnerUserGuid:
          format: uuid
          description: 'Used to set the reference in POST and PUT '
          type: string
          example: 00000000-0000-0000-0000-000000000000
        boxSharedFolderUrl:
          type: string
        dropboxFolderId:
          type: string
        dropboxAuthToken:
          type: string
        googleDriveFolderId:
          type: string
        isGoogleDriveIntegrationEnabled:
          type: boolean
        xeroAuthToken:
          type: string
        xeroBankOperatingAccountId:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        defaultSyncEmailsForAccount:
          type: boolean
        defaultSyncFilesForAccount:
          type: boolean
        defaultSyncContactsForAccount:
          type: boolean
        defaultSyncEmailsForProject:
          type: boolean
        defaultSyncFilesForProject:
          type: boolean
        defaultSyncContactsForProject:
          type: boolean
        maxActiveUsers:
          format: int32
          type: integer
        maxInvoicesPerMonth:
          format: int32
          type: integer
        maxAccounts:
          format: int32
          type: integer
        storageMaxContainerSize:
          format: int64
          type: integer
        storageCurrentContainerSize:
          format: int64
          type: integer
        isAuthorizeNetEnabled:
          type: boolean
        isAuthorizeNetTestMode:
          type: boolean
        authorizeNetLoginId:
          type: string
        authorizeNetTransactionKey:
          type: string
        authorizeNetPublicKey:
          type: string
        isAuthorizeNetTransactionKeyEncrypted:
          type: boolean
        isOnlinePaymentsEnabled:
          type: boolean
          readOnly: true
        isPayPalEnabled:
          type: boolean
        payPalEmailAddress:
          type: string
        payPalFirstName:
          type: string
        payPalLastName:
          type: string
        isStripeEnabled:
          type: boolean
        stripeSecretKey:
          type: string
        isStripeSecretKeyEncrypted:
          type: boolean
        stripePublishableKey:
          type: string
        isLawPayEnabled:
          type: boolean
        isLawPaySecretKeyEncrypted:
          type: boolean
        lawPaySecretKey:
          type: string
        lawPayPublicKey:
          type: string
        isLawPayOperatingMerchantEnabled:
          type: boolean
        lawPayOperatingMerchantAccountId:
          type: string
        isLawPayOperatingAchEnabled:
          type: boolean
        lawPayOperatingAchAccountId:
          type: string
        isLawPayTrustMerchantEnabled:
          type: boolean
        lawPayTrustMerchantAccountId:
          type: string
        isLawPayTrustAchEnabled:
          type: boolean
        lawPayTrustAchAccountId:
          type: string
        lawPayAccessToken:
          type: string
        isHeadNoteEnabled:
          type: boolean
        isInventoryManagementEnabled:
          type: boolean
        isMarketingEnabled:
          type: boolean
        maxMarketingEmailsPerMonth:
          format: int32
          type: integer
        chargifySubscriptionId:
          type: string
        chargifySubscriptionStatus:
          enum:
          - Active
          - Cancelled
          - Oustanding
          type: string
        chargifyCustomerId:
          type: string
        chargifyProductId:
          type: string
        chargifyProductHandle:
          type: string
        isAppComfirmedSignup:
          description: "This is used to track whether we submitted a conversion to adwords/capterra/analytics etc or not.\r\nIf set to true, we already submitted a conversion. If set to false we need to submit a conversion and we will then call the google tag manager to report all conversions.\r\nManaged at _ConversionTracking.cshtml"
          type: boolean
        evergreenIsOnDefault:
          type: boolean
        evergreenAmountDefault:
          format: double
          type: number
        billingEmailAddress:
          type: string
        mobile:
          type: string
        home:
          type: string
        office:
          type: string
        ext:
          type: string
        fax:
          type: string
        isWizardComplete:
          type: boolean
        timeZoneId:
          type: string
        cultureName:
          type: string
        currencyCode:
          type: string
        language:
          enum:
          - Beta
          - Vip
          type: string
        website:
          type: string
        type:
          enum:
          - PayPanther
          - PracticePanther
          type: string
        isAllowClientsToViewAllOutstandingInvoices:
          type: boolean
        isAllowClientsToViewAllPayments:
          type: boolean
        isAllowClientsToViewAccountBalances:
          type: boolean
        isAllowClientToViewAllPaidInvoices:
          type: boolean
        isRequirePortalLoginToViewInvoice:
          type: boolean
        isMailchimpIntegrationEnabled:
          type: boolean
        mailchimpApiKey:
          type: string
        mailchimpListId:
          type: string
        headNoteStatus:
          enum:
          - STARTED
          - SUBMITTED
          - PROVISIONED
          - DECLINED
          - UNVERIFIED
          - VERIFIED
          - UNDER_REVIEW
          - PAUSED
          - DISABLED
          - IGNORED
          - Step1
          - Step2
          - Step3
          - Transacted
          type: string
        gA_LandingPage:
          type: string
        gA_ClientId:
          type: string
        gA_CampaignContent:
          type: string
        gA_CampaignMedium:
          type: string
        gA_CampaignName:
          type: string
        gA_CampaignSource:
          type: string
        gA_CampaignTerm:
          type: string
        gA_CampaignClickId:
          type: string
        gA_Gclid:
          type: string
        retargeting_CampaignName:
          type: string
        retargeting_CampaignSource:
          type: string
        retargeting_CampaignContent:
          type: string
        retargeting_CampaignMedium:
          type: string
        urlReferrer:
          type: string
        firstContactDateTime:
          format: date-time
          type: string
        ambassadorReferringShortCode:
          type: string
        ambassadorCampaignId:
          format: int32
          type: integer
        ambassadorDiscountValue:
          type: string
        isAmbassadorDiscountValueUsed:
          type: boolean
        ledesIsEnabled:
          type: boolean
        taxpayerId:
          type: string
        utbmsIsEnabled:
          type: boolean
        isUtbmsRequiredForTimeEntries:
          type: boolean
        isUtbmsRequiredForExpenses:
          type: boolean
        isUtbmsRequiredForFlatFees:
          type: boolean
        isUtbmsDefaultForNewAccounts:
          type: boolean
        utbmsIsABA_Bankruptcy:
          type: boolean
        utbmsIsABA_Counselling:
          type: boolean
        utbmsIsABA_Litigation:
          type: boolean
        utbmsIsABA_Project:
          type: boolean
        utbmsIsABA_WorkersComp:
          type: boolean
        utbmsIsLOC_Ediscovery:
          type: boolean
        utbmsIsLOC_Grc:
          type: boolean
        utbmsIsLOC_Patent:
          type: boolean
        utbmsIsLOC_Project:
          type: boolean
        utbmsIsLOC_Trademark:
          type: boolean
        utbmsIsEW_Civil_Litigation:
          type: boolean
        defaultInterest:
          $ref: '#/components/schemas/InterestOptions'
        defaultInvoiceTermsAndConditions:
          type: string
        defaultQuoteTermsAndConditions:
          type: string
        saleDocument_Default_DueDate_Days:
          format: int32
          description: Set to true to send automatic payment reminders to this client.
          type: integer
        saleDocument_Default_DueDate_Option:
          enum:
          - DaysAfterInvoiceDate
          - OfTheCurrentMonth
          - OfTheFollowingMonth
          type: string
        saleDocument_Default_IsSendInvoicePaymentReminders:
          description: Set to true to send automatic payment reminders to this client.
          type: boolean
        saleDocument_Default_IsSendQuoteApprovalReminders:
          type: boolean
        saleDocument_Default_IsUseCreditToPayBalance:
          description: Used during PUT/POST. If set to true all available operating account credit (for this account / project) will automatically be applied to this invoice to pay any amount due.
          type: boolean
        saleDocument_Default_IsUseTrustToPayBalance:
          description: Used during PUT/POST. If set to true will automatically transfer funds from the trust account to the operating account and apply them on this invoice.
          type: boolean
        saleDocument_Default_IsAllowOnlinePayment:
          description: Invoices of type Sale only. If set to true, will accept online payment on this invoice. Online payments must be enabled for this to apply.
          type: boolean
        saleDocument_Default_IsAllowPartialPayment:
          description: Invoices of type Sale only. If set to true, will accept online payment on this invoice for less than the full amount due. Online payments must be enabled for this to apply.
          type: boolean
        saleDocument_Default_IsCarryForwardBalance:
          description: Invoices of type Sale only. If set to true, will add to the total balance all unpaid invoices
          type: boolean
        saleDocument_Default_CarryForwardBalanceType:
          enum:
          - Account
          - Project
          type: string
        saleDocument_Default_Tax1Guid:
          format: uuid
          description: 'Used to set the reference in POST and PUT '
          type: string
          example: 00000000-0000-0000-0000-000000000000
        saleDocument_Default_Tax2Guid:
          format: uuid
          description: 'Used to set the reference in POST and PUT '
          type: string
          example: 00000000-0000-0000-0000-000000000000
        projectDisplayNameFormat:
          enum:
          - NumberProjectName
          - ProjectName
          - NumberContactNameProjectName
          - NumberOpenDateYearOpenDateMonthProjectName
          - NumberOpenDateYearProjectName
          - ContactNameProjectName
          - ContactNumberProjectNumberProjectName
          - ContactNumberProjectName
          type: string
        accountDisplayNameFormat:
          enum:
          - NumberFirstLast
          - NumberLastFirst
          - FirstLast
          - LastFirst
          type: string
        userDisplayNameFormat:
          enum:
          - FirstLast
          - LastFirst
          type: string
        isAutoNumberingEnabledForAccounts:
          type: boolean
        isAutoNumberingEnabledForProjects:
          type: boolean
        isCalendarRulesEnabled:
          type: boolean
        isCalendarRulesServiceStarted:
          type: boolean
        calendarRulesLoginToken:
          type: string
        isDeveloperAccount:
          description: If set to true, the tenant will have access to generate client id and client secret for API access purposes
          type: boolean
        oneDriveFolderId:
          type: string
        isOneDriveIntegrationEnabled:
          type: boolean
        oneDriveAuthToken:
          type: string
        isDuplicateContactCheckOn:
          type: boolean
        isAuthorizedSignOn:
          type: boolean
        federal_tax_id:
          type: string
        structure:
          type: string
        business_incorporated_date:
          format: date-time
          type: string
        business_incorporated_state:
          type: string
        owner_email:
          type: string
        owner_first_name:
          type: string
        owner_last_name:
          type: string
        owner_social_security_number:
          type: string
        owner_address1:
          type: string
        owner_address2:
          type: string
        owner_city:
          type: string
        owner_state:
          type: string
        owner_zip_code:
          type: string
        owner_phone_number:
          type: string
        owner_office_phone_number:
          type: string
        owner_Bar_Number:
          type: string
        owner_Bar_State:
          type: string
        owner_percentage_Ownership:
          format: double
          type: number
        ignoredUpdateYourInfo:
          type: boolean
        headNoteVerficationDate:
          format: date-time
          type: string
        lastDateRecurringPaymentMigrationNotice:
          format: date-time
          type: string
        numberOfAttorneys:
          type: string
        practiceAreas:
          type: string
        country:
          type: string
        isDisableEcheck:
          type: boolean
        subscriptionType:
          enum:
          - Trial
          - SoloMonthly
          - SoloYearly
          - SoloFree
          - EssentialMonthly
          - EssentialYearly
          - EssentialFree
          - BusinessMonthly
          - BusinessYearly
          - BusinessFree
          type: string
    ConversationMessage:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        conversation:
          $ref: '#/components/schemas/Conversation'
        fromUser:
          $ref: '#/components/schemas/User'
        fromContact:
          $ref: '#/components/schemas/Contact'
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Blob'
        isDeleted:
          type: boolean
        deletedDate:
          format: date-time
          type: string
        deletedBy:
          $ref: '#/components/schemas/User'
        body:
          type: string
        sentDate:
          format: date-time
          type: string
        type:
          enum:
          - Text
          - Secure
          type: string
        externalConversationId:
          type: string
        firmTextPhoneNumber:
          type: string
        firmLocationName:
          type: string
        userName:
          type: string
        userEmail:
          type: string
        sentByContact:
          type: boolean
    LawToolboxMatter:
      required:
      - matterNumberLTB
      type: object
      properties:
        id:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        projectId:
          format: int64
          type: integer
        project:
          $ref: '#/components/schemas/Project'
        matterNumberLTB:
          type: string
        toolsetId:
          type: string
        stateId:
          type: string
        lawToolboxCourtRules:
          type: array
          items:
            $ref: '#/components/schemas/LawToolboxCourtRule'
    Portal:
      type: object
      properties:
        id:
          format: int64
          type: integer
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        isEnabled:
          type: boolean
        lastLoginDate:
          format: date-time
          type: string
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
    IAdditionalWorkFlowOptionsProperties:
      type: object
      properties:
        assignedToUsers:
          type: array
          items:
            $ref: '#/components/schemas/User'
        priority:
          enum:
          - Low
          - Medium
          - High
          type: string
        eventColor:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        isSendNotificationEmail:
          type: boolean
    SaleDocumentDTO:
      required:
      - currencyCode
      - date
      type: object
      properties:
        accountTags:
          type: array
          items:
            $ref: '#/components/schemas/TagDTO'
        projectTags:
          type: array
          items:
            $ref: '#/components/schemas/TagDTO'
        account:
          $ref: '#/components/schemas/AccountRef'
        project:
          $ref: '#/components/schemas/ProjectRef'
        tenant:
          $ref: '#/components/schemas/TenantDTO'
        currencyCode:
          description: This defines the currency for this account. Must be in ISO 4217 format. Must match the currency code for the Account (contact).
          type: string
        dueDate:
          format: date-time
          description: The due date for full payment on this invoice.
          type: string
        expDate:
          format: date-time
          description: The expiration date for this quote.
          type: string
        amountPaid:
          format: double
          description: Total amount paid. Total amount paid.
          type: number
          readOnly: true
        amountDue:
          format: double
          description: Total amount due. Total amount due.
          type: number
          readOnly: true
        sub:
          format: double
          description: Subtotal (sum of all Items.Sub) Subtotal (sum of all Items.Sub)
          type: number
          readOnly: true
        discount:
          format: double
          description: Indicates the total discount on this invoice. Set by DiscountPercent. Indicates the total discount on this invoice. Set by DiscountPercent.
          type: number
          readOnly: true
        tax:
          format: double
          description: Total tax applied on this invoice (sum of all Items.Tax + Items.Tax2). Total tax applied on this invoice (sum of all Items.Tax + Items.Tax2).
          type: number
          readOnly: true
        total:
          format: double
          description: Total (sum of all Items.Total) Total (sum of all Items.Total)
          type: number
          readOnly: true
        poNumber:
          type: string
        isOverdue:
          description: Indicates if this invoice is overdue. Indicates if this invoice is overdue.
          type: boolean
          readOnly: true
        isExpired:
          description: Indicates if this quote has expired.
          type: boolean
          readOnly: true
        status:
          description: Sets the status on this invoice. Sets the status on this invoice.
          enum:
          - Saved
          - Approved
          - Sent
          - Paid
          - Viewed
          - Overdue
          - Expired
          - Invoiced
          - Due
          - PendingApproval
          type: string
          readOnly: true
        createdBy:
          $ref: '#/components/schemas/UserRef'
        approvedBy:
          $ref: '#/components/schemas/UserRef'
        approvalDate:
          format: date-time
          description: ' '
          type: string
          readOnly: true
        isApproved:
          type: boolean
        createdDate:
          format: date-time
          description: ' '
          type: string
          readOnly: true
        quickbooksId:
          type: string
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        number:
          format: int32
          type: integer
        name:
          description: ' '
          type: string
          readOnly: true
        type:
          description: Indicates if this sale document is an Invoice or a Quote
          enum:
          - Invoice
          - Quote
          type: string
        invoiceType:
          description: If this sale document is of type 'invoice', will indicate if this is a sale, refund or credit invoice.
          enum:
          - Sale
          - Refund
          - Credit
          type: string
        date:
          format: date-time
          description: The issue date for this invoice / quote.
          type: string
    NotificationSettings:
      type: object
      properties:
        isSendSaleDocumentViewedNotification:
          type: boolean
        isSendSaleDocumentCreatedNotification:
          type: boolean
        isSendSaleDocumentSentNotification:
          type: boolean
        isSendPaymentRequestSentNotification:
          type: boolean
        isSendAccountCreatedNotification:
          type: boolean
        isSendFeedCreatedNotification:
          type: boolean
        isSendProjectCreatedNotification:
          type: boolean
        isSendExpenseCreatedNotification:
          type: boolean
        isSendTimeEntryCreatedNotification:
          type: boolean
        isSendFlatFeeCreatedNotification:
          type: boolean
        isSendPaymentCreatedNotification:
          type: boolean
        isSendOnlinePaymentReceivedNotification:
          type: boolean
        isSendIntakeFilledNotification:
          type: boolean
        isSendActivityCreatedNotification:
          type: boolean
        isSendTaskStatusChangedNotification:
          type: boolean
        isSendPortalInvitationAcceptedNotification:
          type: boolean
        isSendActivityReminderNotification:
          type: boolean
        isSendInvoiceSubmittedForApprovalNotification:
          type: boolean
        isSendInvoiceApprovedNotification:
          type: boolean
        isSendRecordDeletedNotification:
          type: boolean
        isSendNewSmsNotification:
          type: boolean
    IntakeFormTemplate:
      required:
      - name
      - template
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        isRequirePortalSignin:
          type: boolean
        isSendEmailOnSubmission:
          type: boolean
        sendEmailOnSubmissionTo:
          $ref: '#/components/schemas/User'
        sendEmailOnSubmissionToId:
          format: int32
          type: integer
        isCreateTaskOnSubmission:
          type: boolean
        createTaskOnSubmissionAssignedToId:
          format: int32
          type: integer
        createTaskOnSubmissionAssignedTo:
          $ref: '#/components/schemas/User'
        description:
          type: string
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        tenantId:
          format: int64
          type: integer
        tenant:
          $ref: '#/components/schemas/Tenant'
        isAllowCreatingNewAccountOnSubmission:
          type: boolean
        isAllowCreatingNewProjectOnSubmission:
          type: boolean
        assignNewRecordsToId:
          format: int32
          type: integer
        assignNewRecordsTo:
          $ref: '#/components/schemas/User'
        isAllowUpdatingAccountOnSubmission:
          type: boolean
        isAllowUpdatingProjectOnSubmission:
          type: boolean
        isAutoFillContactAndMatterInfo:
          type: boolean
        isInternallyCreated:
          type: boolean
        template:
          description: This holds the XML generated by the form builder
          type: string
        intakeForms:
          type: array
          items:
            $ref: '#/components/schemas/IntakeForm'
        mappings:
          description: This holds the mapping between form fields and PP fields
          type: array
          items:
            $ref: '#/components/schemas/IntakeFormTemplateMapping'
    WorkflowEvent:
      required:
      - name
      type: object
      properties:
        id:
          format: int64
          type: integer
        workflowId:
          format: int64
          type: integer
        workflow:
          $ref: '#/components/schemas/Workflow'
        name:
          type: string
        description:
          type: string
        workflowTasks:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowTask'
        additionalWorkFlowOptionsProperties:
          $ref: '#/components/schemas/IAdditionalWorkFlowOptionsProperties'
        assignedToUsers:
          type: array
          items:
            $ref: '#/components/schemas/User'
        priority:
          enum:
          - Low
          - Medium
          - High
          type: string
        eventColor:
          type: string
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        reminders:
          type: array
          items:
            $ref: '#/components/schemas/DefaultReminder'
        isSendNotificationEmail:
          type: boolean
    Opportunity:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        id:
          format: int64
          type: integer
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        tenant:
          $ref: '#/components/schemas/Tenant'
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        account:
          $ref: '#/components/schemas/Account'
        name:
          type: string
        type:
          enum:
          - None
          - NewBusiness
          - ExistingBusiness
          type: string
        campaign:
          $ref: '#/components/schemas/Campaign'
        amount:
          format: double
          type: number
        closingDate:
          format: date-time
          type: string
        probability:
          format: double
          type: number
        stage:
          enum:
          - Qualificiation
          - Analysis
          - Quote
          - WaitingOnDecision
          - Negotiation
          - ClosedWon
          - ClosedLost
          - ClosedLostToCompetition
          type: string
    SaleDocumentRef:
      required:
      - date
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        number:
          format: int32
          type: integer
        name:
          description: ' '
          type: string
          readOnly: true
        type:
          description: Indicates if this sale document is an Invoice or a Quote
          enum:
          - Invoice
          - Quote
          type: string
        invoiceType:
          description: If this sale document is of type 'invoice', will indicate if this is a sale, refund or credit invoice.
          enum:
          - Sale
          - Refund
          - Credit
          type: string
        date:
          format: date-time
          description: The issue date for this invoice / quote.
          type: string
    Recurrence:
      type: object
      properties:
        frequency:
          enum:
          - Never
          - Daily
          - Weekly
          - BiWeekly
          - Monthly
          - Yearly
          - Weekdays
          - Monthly_On_Day
          type: string
        id:
          format: int64
          type: integer
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        dayOfWeek:
          enum:
          - Sunday
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          type: string
        dayOfMonth:
          format: int32
          description: day of month to repeat the event. If the date doesn't exist in the month, add to last day of month.
          type: integer
        monthOfYear:
          enum:
          - January
          - February
          - March
          - April
          - May
          - June
          - July
          - August
          - September
          - October
          - November
          - December
          type: string
        stopDate:
          format: date-time
          description: when to stop this from recurring
          type: string
        maxNumOfOccurences:
          format: int32
          description: how many times to repeat the recurrence (up to 10 times etc.)
          type: integer
        repeatEvery:
          format: int32
          description: indicates to repeat every X (Days / Weeks / Months / Year)
          type: integer
        activities:
          type: array
          items:
            $ref: '#/components/schemas/Activity'
        tenantId:
          format: int64
          type: integer
        tenant:
          $ref: '#/components/schemas/Tenant'
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
    InventoryTransferItem:
      type: object
      properties:
        id:
          format: int64
          type: integer
        qtySent:
          format: double
          type: number
        qtyReceived:
          format: double
          type: number
        qtyLost:
          format: double
          type: number
        qtyToTransfer:
          format: double
          type: number
        inventoryTransfer:
          $ref: '#/components/schemas/InventoryTransfer'
        product:
          $ref: '#/components/schemas/Product'
        tenant:
          $ref: '#/components/schemas/Tenant'
    IntakeFormTemplateMapping:
      type: object
      properties:
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        rowIndex:
          format: int32
          type: integer
        formFieldName:
          description: The form field which holds the value
          type: string
        formFieldLabel:
          description: The form field which holds the value
          type: string
        formFieldType:
          description: The form field which holds the value
          enum:
          - Checkbox
          - CheckboxGroup
          - Date
          - File
          - RadioGroup
          - Select
          - Text
          - TextArea
          type: string
        targetFieldValue:
          description: The target generic / custom field in PracticePanther
          type: string
    Workflow:
      required:
      - name
      type: object
      properties:
        id:
          format: int64
          type: integer
        guid:
          format: uuid
          type: string
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        description:
          type: string
        isEnabled:
          type: boolean
        isDeleted:
          type: boolean
        createdDate:
          format: date-time
          type: string
        lastModifiedDate:
          format: date-time
          type: string
        createdBy:
          $ref: '#/components/schemas/User'
        lastModifiedBy:
          $ref: '#/components/schemas/User'
        workflowEvents:
          type: array
[...]
