openapi: 3.0.0
info:
  version: v1
  title: Legacy API (v1) Account AccountingSnapshot API
  description: ''
servers:
- url: https://app.practicepanther.com
tags:
- name: AccountingSnapshot
paths:
  /api/internal/v1/tenants/{tenantId}/accountingsnapshot:
    get:
      tags:
      - AccountingSnapshot
      summary: Retrieves the accounting snapshot for a tenant
      operationId: AccountingSnapshot_GetSnapshot
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
      security:
      - oauth2:
        - full
    post:
      tags:
      - AccountingSnapshot
      summary: Generates a new accounting snapshot for a tenant
      operationId: AccountingSnapshot_GenerateSnapshot
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: tbRegenerate
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
      security:
      - oauth2:
        - full
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 - Authorization Code Grant
      flows:
        authorizationCode:
          authorizationUrl: /OAuth/Authorize
          tokenUrl: /OAuth/Token
          scopes:
            full: Read/Write access to all resources
